*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
section{
  transition: .3s linear;
  overflow-x: hidden;
}
  
  .btn {
    cursor: pointer;
    background-color: #022a11;
    padding: 1rem;
    border-radius: 11px;
    font-weight: bold;
    color: #bfb9b9;
    font-size: 1.2rem;
  }
  .btn--small {
    background: none;
    padding: 1rem;
    border-radius: 11px;
    font-weight: bold;
    color: #022a11;
    font-size: 1.2rem;
  }
  .btn--small:hover{
    color: #022a11;
  }
  .btn:hover,
  .btn--small:hover{
    color: aliceblue;
    transition: .3s ease;
  }
  .btn--small:hover{
    color: #10893f;
  }
  .btn:focus, 
  .btn:active {
    color: #416931;
  }

  .heading{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-size: 2.5rem;
    color: #ccc;
    margin-bottom: 4rem;
  }

  .row:after{
    content: "";
    display: table;
    clear: both;
  }
  .column{
    float: left;
    width: 50%;
    height: 300px;
  }